<!doctype html>
<html>
  <head>
    <title>面接練習</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="main">
      <div class="main_screen">
       <div class="people">
       <%= image_tag asset_path("president.png", alt: "面接官") %>
       </div>

      </div>
    </div>
    
    <div class="main_button">
      <button onclick="speak()" , class="button_size">話す</button>
    </div>
 
    <div class="textbox">
      <div id="text", class="text"></div>
    </div>

      <script>
        let array = ["自己紹介をお願いします。","何故今回転職をお考えになられたのですか。","何故エンジニアを目指そうと思われたのですか。"
      ,"弊社を志望する理由について教えてください。","弊社についてご存知のことを教えてください。","弊社のwebサイトをご覧になっての感想をお聞かせ下さい。"
      ,"もし弊社で採用となった場合、弊社でどのような仕事をしてみたいとお考えですか。","前職の会社にはどういった理由で入社されたのでしょうか。",
      "前職では主にどのような業務を担われていたのでしょうか。","前職で成果を上げたことを一つ挙げるとしたら、どういったお仕事でしたか。"
      ,"テックキャンプではどのような学習をされているのでしょうか。","将来はどのようなエンジニアになりたいとお考えでしょうか。"
      ,"プログラミングやエンジニアのことで、テックキャンプの学習以外で自分自身で学ばれていることはありますか。","あなたの強みを教えてください。"
      ,"あなたの弱みを教えてください。","あなたにとっての「成功体験」を一つ挙げるとしたら、どのような体験ですか。","あなたにとっての「失敗体験」を一つ挙げるとしたら、どのような体験ですか。"
      ,"これまで最も困難と感じたことは何ですか。","周りの人から、あなたはどのような人だと言われることが多いですか。","周りの人との関わりの中で、あなたはどのような役割を担うことが多いですか。"
      ,"私どもに何か質問はありますか。","カリキュラムの学習や最終課題を通して、特に難しかった内容は何ですか。","カリキュラムの学習や最終課題を通して、特に解決が難しかったエラーは何ですか。"
      ,"エラーに直面した時は、どのように解決してきましたか。","最終課題において、一番こだわったポイントや自信のあるところはどこですか。","制作したアプリについて、今後、更に追加実装するとしたら、どういった機能を追加したいですか。"
      ,"制作したアプリについて、スタッフの方や受講生の仲間からどのようなフィードバックをもらいましたか。","自分自身でひとつのアプリを作り上げていく流れの中で、特にどの辺のプロセスや作業に面白さを感じましたか。"
      ,"テックキャンプの学習全体を通して、最も楽しかった内容は何ですか。","今後どういうエンジニアになりたいですか。","フロントエンドの作業とバックエンドの作業、どちらが向いていると感じますか。"
      ,"いま、注目している技術は何ですか。","今後、身につけてみたい言語は何ですか。","HTML/CSSとは何かを分かりやすく説明してください。"
      ,"MVCの仕組みについて分かりやすく説明してください。","オブジェクト指向とは何かを分かりやすく説明してください。","アジャイル型開発とウォータフォール型開発の違いを分かりやすく説明してください。"
      ,"Rubyと他のプログラミング言語の違いを分かりやすく説明してください。","クッキーとセッションの違いを分かりやすく説明してください。","クラスとインスタンスの違いを分かりやすく説明してください。"
      ,"データベースへのアクセス負荷を軽減するために気をつけるべきことを分かりやすく説明してください。","データベース設計におけるインデックスの仕組みを分かりやすく説明してください。"
      ,"JavaScriptにおける、同期・非同期通信の違いを分かりやすく説明してください。","アプリケーションサーバーとウェブサーバーの違いとそれぞれの役割を分かりやすく説明してください。"
        ]
        
        function speak(){
          let text = array[Math.floor(Math.random()*array.length)]
          document.querySelector('#text').innerHTML = text
          let uttr = new SpeechSynthesisUtterance(text);
          speechSynthesis.speak(uttr);
        }
      </script>
  </body>
</html>